[Unit]
Documentation=man:systemd-sysv-generator(8)
Description=Displays camera feeds for monitoring
After=network-online.target
After=dbus.service
After=cron.service
After=graphical.target
After=display-manager.service
Wants=network-online.target
Wants=graphical.target

[Service]
Type=oneshot
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=control-group
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
Environment=DISPLAY=:0
ExecStart=/usr/bin/displaycameras start
ExecStop=/usr/bin/displaycameras stop
ExecReload=/usr/bin/displaycameras restart

[Install]
WantedBy=multi-user.target
